opencv-python
imageio
imageio[ffmpeg]
xatlas
tqdm
scipy
pymeshlab
tensorboardX
rich
torch_ema
dearpygui
transformers
diffusers
accelerate
trimesh
pyrender
easydict
yacs
fvcore
pyopengl==3.1.4
networkx==2.5.1
iopath
ninja
mediapipe
timm
lpips
git+https://github.com/y-kamiya/BasicSR.git@fix/latest-torchvision
git+https://github.com/NVlabs/nvdiffrast.git
